@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital@1&display=swap');


*{
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 44px;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;;
    color: #0A3871;
}

main {
    width: 100%;
    height: 700px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;    
}

.botoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
 }

#iniciar {
    Width:317px;
    Height: 102px;
    margin: 20px;
    border-radius: 24px;
    padding:24px;
    gap:8px;
    background-color: #0A3871;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;;
}

#adicionarpalavra {
    Width:317px;
    Height: 102px;
    border-radius: 24px;
    margin: 20px;
    padding:24px;
    gap:8px;
    background: #D8DFE8;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;;
    color: #0A3871;
}

#iniciar:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    background-color: #052041;
}

#adicionarpalavra:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    background-color: #052041;
    color: white;
}

#entrada-texto {
    width: 100%;
    height: 410px;
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    font-size: 1.7em;
    font-family: 'Roboto', sans-serif;;
}

#adicionar-palavra p {
    font-family: 'Roboto', sans-serif;;
    font-size: 1.5em;
    color: #0A3871;
    margin: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;    
}

#salvar, #novoJogo {
    Width:317px;
    Height: 67px;
    margin: 20px;
    border-radius: 24px;
    padding:24px;
    gap:8px;
    background-color: #0A3871;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;;
    display: block;
}

#cancelar, #desistir {
    Width:317px;
    Height: 67px;
    border-radius: 24px;
    margin: 20px;
    padding:24px;
    gap:8px;
    background: #D8DFE8;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;;
    color: #0A3871;
    display: block;
}

#salvar:hover, #novoJogo:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    background-color: #052041;
}

#cancelar:hover, #desistir:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    background-color: #052041;
    color: white;
}

#tabuleiro {
    width: 1200px;
    height: 800px;
}

#tabuleiro ul{
    width: 800px;
    margin: auto;
    text-align: center;

}

#tabuleiro li{
    width: 80px;
    height: 50px;
    color: #0A3871;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    padding: 4px;
}

canvas {
    margin: auto;
    align-items: center;
}

.botoes-adicionar {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}


.invisivel {
    display: none;
}
.div-letras {
    display: none;
    
}
.icones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.invisivel {
    display: none;
}

.quadro {
    width: 400px;
    margin: auto;
}

.letrasErradas {
    width: 300px;
    margin: auto;
    font-size: 2em;
    color: #0A3871;
}

.letrasErradas > h2 {
    font-weight: bold;
    color: #0A3871;
    text-align: center;
}

.texto{
    height:20px;
    width:20px;
    opacity: 0;
    padding:0;
    margin:0;
    display: block;
}



@media screen and (max-width: 600px){

.logo {
    display: none;
} 
body{
    width: 100%;
}

.texto{
    width: 250px;
    display: block;
    flex-wrap: wrap;
    opacity: 2;
}

#entrada-texto {
    width: 250px;
    height: 96px;
    margin: auto;
    align-items: center;
    text-align: center;
}

.botoes {
    width: 220px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.botoes-adicionar {
    width: 220px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div-letras {
    display: inline;
}
#tabuleiro li{
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 2px;
    text-align: left;
    font-size: 20px;
    padding: 1px;
}
#tabuleiro ul{
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10px;
}

#tabuleiro {
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px;
}

.letrasErradas {
    width: 250px;
    margin: 5px;
    font-size: 15px;
    color: #0A3871;
}

canvas{
    height: 250px;
}

}

